body {
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
}

/*navbar*/
.mynavbar {
    background-color: #4741AF;
}
.nav-link  {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 53px 0;
}
.navbar-brand {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

/*banner*/
.container {
    max-width: 1200px;
}
.banner-title{
    font-size: 72px;
    font-weight: 800;

}
.banner-subtitle {
    font-size: 24px;
    font-weight: 500;
    
}

.banner-btn {
    background-color: #6C63FF;
    padding: 14px 50px;
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
}
.banner-btn:hover {
    color: #6C63FF;
    background-color: #fff;
}