body {
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
}

/*navbar*/
.mynavbar {
    background-color: #4741AF;
}
.nav-link  {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 53px 0;
}
.navbar-brand {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}